<div class="container">
    <div class="row">
        <h3>Voter:<b>{{voterDetail?.firstName}} &nbsp; {{voterDetail?.lastName}}</b> </h3>
    </div>
    <div class="row">
        <div class="col-md-6">Email Address: <b>{{voterDetail?.emailAddress}}</b></div>
        <div class="col">Gender: <b>{{voterDetail?.gender}}</b></div>
        <div class="col">Race: <b>{{voterDetail?.race}}</b></div>
    </div>
    <hr/>
    <div class="row">
        <div>
            <a [routerLink]="['/voter-list']">Return to Voter List</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start Date/Time</th>
                    <th>End Date/Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let election of electionList, index as i ">
                    <td>{{election?.electionName}}</td>
                    <td>{{election?.electionStartDateTime | date : 'short'}}</td>
                    <td>{{election?.electionEndDateTime | date: 'short'}}</td>
                    <td><a [routerLink]="['/cast-vote', election?.electionId,'voter',voterDetail?.voterId]">Vote</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
