<div class="container">
    <div class="mt-5" >
      <div *ngIf="responseMessage" class="alert alert-success">{{responseMessage}}</div>
      <form class="form-signin" [formGroup]="loginGrp">
        <div class="text-center mb-4 mt-5">
          <h1 class="h3 mb-3 font-weight-normal">Login<span>&nbsp;|&nbsp;Signup</span></h1>
        </div>
        
        <div *ngIf="loginResponse != null" class="alert">{{loginResponse.responseMessage}}</div>
        <div class="form-label-group">
          <input type="text"  formControlName="userName"  class="form-control" placeholder="Username" required autofocus="">
          <label for="userName">Email address or Username</label>
        </div>
    
        <div class="form-label-group">
          <input  type="password" id="password"  formControlName="passWd" min-length="8" class="form-control" placeholder="Password" required>
          <label for="password">Password</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginGrp.valid" type="submit" (click)="login()">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
      </form>

    </div>
    </div>