<div class="container">
    <h1> Election App</h1>
  <hr/>
    <div class="card-columns">
      <div class="card  bg-success">
        <div class="card-body"   *ngIf="userType">
          <h5 class="card-title"><a href="election-list" class="card-link">Election List</a></h5>
        </div>
      </div>
      <div class="card bg-danger text-white text-center"   *ngIf="userType">
        <div class="card-body">
          <h5 class="card-title"><a href="voter-list">Voters List</a></h5>
        </div>
      </div>
    </div>
    <div  *ngIf="userType">
  <h3>Administration</h3>
  <hr/>
  <div class="card-columns">
    <div class="card bg-secondary text-center">
      <div class="card-body">
        <h5 class="card-title"><a href="admin-list">Administrators</a></h5>
    </div>
  </div>
</div>
</div>
</div>
